@import "w3.scss";
@import "theme.scss";
body {
    @extend .w3-theme;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue';
    clear: both;
    &.spacer {
        margin-top: 8em;
    }
}

table {
    width: 100%;
    border: 1px solid white;
    tr {
        @extend .w3-cell-row;
        td,
        th {
            @extend .w3-cell;
            text-align: center;
            @extend .w3-third;
        }
        th {
            @extend .w3-white;
        }
    }
}

p.w3-center {
    display: table-cell;
    vertical-align: middle;
    width: 33.33333%;
    height: 4em;
}

.fas,
.fab {
    >span {
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        font-weight: 300;
    }
}

.hero {
    @extend .w3-display-container;
    width: 100vw;
    height: 100vh;
    header {
        @extend .w3-display-middle;
        @extend .w3-cell-row;
        @extend .w3-content;
        // @extend .w3-round-xxlarge;
        // @extend .w3-card;
        // background: rgba($color: $theme, $alpha: 0.8);
        // border: 1px solid rgba($color: $theme, $alpha: 1);
        .logo {
            @extend .w3-cell;
            @extend .w3-right;
            @extend .w3-hide-small;
            @extend .w3-hide-medium;
            img {
                @extend .w3-margin;
            }
        }
        .content {
            @extend .w3-cell;
            @extend .w3-cell-middle;
            text-align: center;
            padding: 3em;
            min-width: 40em;
        }
        #cta a {
            min-width: 7em;
        }
        #social {
            margin-top: 1em;
            a {
                @extend .w3-hover-text-theme-light;
                padding: 0.25em;
                text-decoration: none;
            }
        }
    }
}

a.action {
    @extend .w3-button;
    @extend .w3-transparent;
    @extend .w3-border;
    @extend .w3-border-white;
    @extend .w3-hover-white;
}

a.main {
    @extend .w3-button;
    @extend .w3-white;
    @extend .w3-border;
    @extend .w3-border-white;
    @extend .w3-hover-theme;
    @extend .w3-hover-border-white;
    @extend .w3-card;
}

.title {
    @extend .w3-border-amber;
    @extend .w3-leftbar;
    @extend .w3-padding;
    @extend .w3-theme-d5;
    @extend .w3-content;
    @extend .w3-panel;
}

#monthly {
    position: fixed;
    right: 1em;
    z-index: 2000;
    @extend h3;
    @extend .w3-button;
    @extend .w3-red;
    @extend .w3-panel;
    @extend .w3-margin;
    @extend .w3-hover-theme;
}

div#contact {
    @extend .w3-theme-l4;
    text-align: center;
    a {
        @extend .w3-button;
        @extend .w3-hover-theme;
        @extend .w3-mobile;
        @extend .w3-center;
        @extend .w3-third;
        text-align: left;
        &::before {
            float: left;
        }
    }
}

div#footer {
    @extend .w3-bar;
    @extend .w3-black;
    position: fixed;
    z-index: 2000;
    bottom: 0;
    a {
        @extend .w3-bar-item;
        @extend .w3-button;
        @extend .w3-hover-theme;
        width: 20%;
        &.here {
            @extend .w3-theme-l2;
        }
        span {
            @extend .w3-hide-small;
            @extend .w3-hide-medium;
        }
    }
}

.gsri-card {
    @extend .w3-row;
    @extend .w3-hover-dark-gray;
    padding: 1em;
    height: 15em;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    div {
        &:first-child {
            width: 25%;
            text-align: center;
            @extend .w3-hide-small;
        }
        @extend .w3-cell-middle;
        @extend .w3-cell;
        height: 15em;
        h3 {
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: x-large;
        }
        h3,
        p {
            @extend .w3-margin;
            float: left;
        }
    }
}

.gsri-region {
    @extend .w3-display-container;
    @extend .w3-justify;
    padding-top: 6em;
    padding-bottom: 6em;
}

.gsri-splitter {
    position: relative;
    float: left;
    width: 100vw;
    height: 3em;
    top: -1.5em;
    z-index: 1000;
    transform: skew(0, -1.5deg);
    clear: both;
}

.gsri-toplay {
    @extend .w3-display-container;
    height: 40vh;
    width: 100vw;
}

.gsri-grade-0,
.gsri-grade-1,
.gsri-grade-2,
.gsri-grade-3,
.gsri-grade-4,
.gsri-grade-5,
.gsri-grade-6 {
    list-style: none;
    clear: both;
    @extend .w3-xlarge;
    &::before {
        @extend .w3-hide-small;
        @extend .w3-hide-medium;
        margin: 0 1em;
        float: left;
    }
    span {
        display: block;
        @extend .w3-large;
        @extend .w3-text-light-blue;
    }
}

.gsri-grade-0::before {
    content: url(../img/grades/grade_0.png);
}

.gsri-grade-1::before {
    content: url(../img/grades/grade_1.png);
}

.gsri-grade-2::before {
    content: url(../img/grades/grade_2.png);
}

.gsri-grade-3::before {
    content: url(../img/grades/grade_3.png);
}

.gsri-grade-4::before {
    content: url(../img/grades/grade_4.png);
}

.gsri-grade-5::before {
    content: url(../img/grades/grade_5.png);
}

.gsri-grade-6::before {
    content: url(../img/grades/grade_6.png);
}

.gsri-unite {
    @extend .w3-bar;
    h2 {
        @extend .w3-padding;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    @extend .w3-dark-grey;
    border: 1px solid black;
    min-width: 470px;
}

.striped {
    background: repeating-linear-gradient(-45deg, #333, #333 10px, transparent 10px, transparent 20px);
}