$colors:( "theme-light":#ebf2f6, "theme-l5": #ebf2f6, "theme-l4": #bdd2e2, "theme-l3": #7ba5c5, "theme-l2": #45779d, "theme-l1": #28455b, "theme": #0b1319, "theme-d1": #0a1116, "theme-d2": #090f14, "theme-d3": #080d11, "theme-d4": #070b0f, "theme-d5": #05090c, "theme-dark": #05090c, "theme-action": red, );
@each $name,
$color in $colors {
    .w3-#{$name} {
        @if $name=="theme-l5" or $name=="theme-l4" {
            color: black;
        }
        @else {
            color: white;
        }
        background-color: $color !important;
    }
    .w3-text-#{$name} {
        color: $color;
    }
    .w3-border-#{$name} {
        border-color: $color !important;
    }
    .w3-hover-#{$name}:hover {
        color: white !important;
        background-color: $color !important;
    }
    .w3-hover-text-#{$name}:hover {
        color: $color !important;
    }
}